body {
	margin:0;
	touch-action:none;
}

.table {
	/*border: 1px solid #555;*/
	background-color: rgb(202, 202, 202);
	box-shadow: 0 0 100px rgba(0,0,0,0.2) inset;
}

.wrapper {
	position: relative;
	width: 100%;
}

.instructions p{
	margin:  5px 0;
}

#stats {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	font-size: 12px;
}