body {
	margin:0;
	touch-action:none;
}

.table {
	border: 1px solid #555;
}

.wrapper {
	position: relative;
	width: 100%;
	background-color: #bbb;
}

.instructions p{
	margin:  5px 0;
}

#stats {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	font-size: 12px;
}